<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="layout-container">
        <aside class="sidebar">
            <div class="profile">
                <div class="avatar-circle">M</div>
                <h3>Mishan Mandal</h3>
                <p class="role">MBBS Student</p>
            </div>
            <nav>
                <a href="{{ '/' | relative_url }}" class="nav-link">Journal Entries</a>
                <a href="https://github.com/mishan-dr" class="nav-link">GitHub Profile</a>
            </nav>
        </aside>

        <main class="main-content">
            {{ content }}
        </main>
    </div>

</body>
</html>
